.nav-container {
    background-color: #DEA4bd;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

.nav-item {
    color: #062242;
    text-decoration: none;

}

.logo {
    width: 8rem;
}

.img.card-img-top {
    height: 300px;
    width: 300px;
}