.nav-container {
    background-color: #FEF1F7;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

.nav-item {
    color: #062242;
    text-decoration: none;

}

.logo {
    width: 8rem;
}

.detail-img {
    max-width: 400px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0;
}
